body {
	font-family: 'Noto Sans', sans-serif;
	background-color: #45737f;
	color: #fff;
	margin: 0;
}

nav {
	background-color: #222222;
	height: 40px;
	color: #afafaf;
}

nav a {
	color: #afafaf;
	text-decoration: none;
}

.nav-wrapper {
	padding: 8px;
}

.nav-contact {
	float: right;
}

h1 {
	color: #f4c06c;
	font-size: 3rem;
}

.intro {
	text-align: center;
}

.intro-title {
	color: #f4c06c;
	font-weight: bold;
	font-style: italic;
}

.intro-text {
	color: #f4c06c;
}

.img-circular {
	width: 250px;
	height: 250px;
	background-image: url('../images/jankleinert-square.jpg');
	background-size: cover;
	display: block;
	border-radius: 125px;
	-webkit-border-radius: 125px;
	-moz-border-radius: 125px;
}

.speech-bubble {
	position: relative;
	background: #f4c06c;
	border-radius: .4em;
	color: #222222;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #00aabb;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}