body {
	font-family: 'Noto Sans', sans-serif;
	background-color: #45737f;
	color: #fff;
	margin: 0;
}

h1 {
	color: #f4c06c;
	font-size: 4rem;
}

.intro {
	text-align: left;
	padding-left: 50px;

}

.intro-title {
	/*color: #f4c06c;*/
	font-weight: bold;
	font-style: italic;
	font-size: 2.4rem;
	padding: 10px 10px 10px 10px;
}

.intro-text {
	/*color: #f4c06c;*/
	padding: 0px 10px 10px 10px ;
	font-size: 2rem;
}

.img-circular {
	width: 500px;
	height: 500px;
	background-image: url('../images/jankleinert-square.jpg');
	background-size: cover;
	display: block;
	border-radius: 250px;
	-webkit-border-radius: 250px;
	-moz-border-radius: 250px;
	float: left;
}

.speech-bubble {
	position: relative;
	background: #f4c06c;
	border-radius: .4em;
	color: #222222;
	width: 650px;
	margin-left: 525px;
	margin-top: 40px;

}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #f4c06c;
	border-left: 0;
	border-top: 0;
	margin-top: -10px;
	margin-left: -20px;
}

@media all and (min-width: 968px) and (max-width: 1268px) { 

	.img-circular {
		width: 400px;
		height: 400px;
		border-radius: 200px;
		-webkit-border-radius: 200px;
		-moz-border-radius: 200px;

	}

	.speech-bubble {
		width: 450px;
		margin-left: 425px;
		margin-top: 40px;
	}

	.intro-title {
		font-size: 1.75rem;
	}

	.intro-text {
		font-size: 1.25rem;
	}
}

/*@media all and (min-width: 968px) and (max-width: 1023px) 
{  }*/

@media all and (min-width: 480px) and (max-width: 967px) {

	h1 {
		font-size: 3rem;
	}

	.img-circular {
		width: 400px;
		height: 400px;
		border-radius: 200px;
		-webkit-border-radius: 200px;
		-moz-border-radius: 200px;
		float: none;

	}

	.speech-bubble {
			width: 450px;
			margin-left: 0px;
			margin-top: 10px;
	}

	.speech-bubble:after {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		width: 0;
		height: 0;
		border: 20px solid transparent;
		border-bottom-color: #f4c06c;
		border-left: 0;
		border-top: 0;
		margin-left: -10px;
		margin-top: -20px;
	}

	.intro-title {
		font-size: 1.75rem;
	}

	.intro-text {
		font-size: 1.25rem;
	}

}

	

@media all and (min-width: 480px) and (max-width: 767px) 
{  }

@media all and (max-width: 479px) 
{  }