body {
	font-family: 'Noto Sans', sans-serif;
	background-color: #45737f;
	color: #fff;
	margin: 0;
}

nav {
	background-color: #22222;
	height: 40px;
	color: #afafaf;
}

.nav-contact {
	float: right;
}

h1 {
	color: #f4c06c;
	font-size: 3rem;
}

.intro {
	text-align: center;
}

.intro-text {
	color: #f4c06c;
}

.img-circular {
	width: 250px;
	height: 250px;
	background-image: url('../images/jankleinert-square.jpg');
	background-size: cover;
	display: block;
	border-radius: 125px;
	-webkit-border-radius: 125px;
	-moz-border-radius: 125px;
}